.container {
    margin-bottom: 100px;
    display: flex;
    justify-content: space-evenly;
}

.target {
    width: 200px;
    height: 200px;
    background: #FFAA00;
    display: flex;
    justify-content: center;
    align-items: center;
}

.target>div{
    font-size: 40px;
}

.shadow_a {
    box-shadow: 20px 20px 0 #464646;
}

.shadow_b {
    box-shadow: 20px 20px 10px #464646;
}

.shadow_с {
    box-shadow: 25px 25px 10px #464646;
}

.shadow_d {
    box-shadow: 25px 25px 10px #9E9E9E;
}

.shadow_e {
    border-radius: 10px;
    box-shadow: 20px 20px 10px #464646;
}

.shadow_f {
    border-radius: 10px;
    box-shadow: 20px 20px 10px #9E9E9E;
}



